.navbar-light{
    border-bottom: 1px solid rgb(112, 112, 235);
    padding-right: 3%;
    border-radius: 0;
}
.sign-up:hover{
    background-color: yellow;
    color: red;
}
.modal-login{
    width: 350px;
    margin-left: 37.5%;
    margin-top: 10%;
}
ul{
    list-style-type: none;
}