<h2>Creating a New Test</h2>
<div>
    <input type = "text" name = "testTitle" placeholder = "Enter Test Title..." class = "title">
    <input type = "text" name = "testTopic" placeholder = "Enter Topic..." class = "topic" [(ngModel)] = "testTopic">
    <br>
    <input type = "text" name = "testDescription" placeholder = "Enter a Description..." class = "description">
        
</div>
<div>
    <ul style = "list-style-type: none">
        <li *ngFor = "let index of questions"><new-question id = {{index}} [index] = index [topic] = "testTopic" [isFromTest] = "true"></new-question></li>
    </ul>
</div>
<button (click)="addQuestion()" value="New Question" id="newQuestion">Add Question</button>