<h2>Create your FlashBoard Account</h2>
<div class="pageContent">
  <div class="jumbotron signup-box">
    <legend>
      <strong>Name</strong>
    </legend>
    <div id="firstName" class="col-xs-6 col-md-6">
      <input class="form-control" type="text" placeholder="First" [(ngModel)]="fname">
    </div>
    <div id="lastName" class="col-xs-6 col-md-6">
      <input class="form-control" type="text" placeholder="Last" [(ngModel)]="lname">
    </div>
    <legend>
      <strong>Username</strong>
    </legend>
    <div class="col-md-12">
      <input class="form-control" type="text" [(ngModel)]="username" required>
    </div>
    <legend>
      <strong>Password</strong>
    </legend>
    <div class="col-md-12">
      <input class="form-control" type="password" [(ngModel)]="password" required>
    </div>
    <legend>
      <strong>Re-Enter Password</strong>
    </legend>
    <div class="col-md-12">
      <input class="form-control" type="password" [(ngModel)]="rePassword" required>
    </div>
    <legend>
      <strong>Email</strong>
    </legend>
    <div class="col-md-12">
      <input class="form-control" type="email" [(ngModel)]="email" required>
    </div>
    <legend>
      <strong>Favorite Color</strong>
    </legend>
    <div class="col-md-3">
      <input class="form-control" type="color" [(ngModel)]="favColor">
    </div>
    <div class="confirm col-md-12">
      <div>
        <div class="row">
          <div class="limit" [ngStyle]=msgStyle>
            {{feedbackMsg}}
          </div>
          <input class="btn btn-lg btn-primary" type="button" value="Create Account" (click)="validateRegistration()">
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <h2>Be part of the community</h2>
    <h3>Study, Learn and Share!</h3>
    <img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2134011/1160/772/m1/fpnw/wm0/lightbulb-flat-icon-01-.jpg?1484566261&s=889140e5e50fcc3c959de2d4a7edab23" alt="lightbulb image" width="400">
  </div>
</div>
