<div class="question row">
  <div class="col-sm-6">
    <h3 class="left">Question</h3>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="quizObject.question" placeholder="Question"/>
    </div>
  </div>

  <div class="col-sm-6">
    <h3 class="left">Answers</h3>
    <ul>
      <li>
          <input type="text" class="form-control" placeholder="Correct Answer" [(ngModel)]="quizObject.canswer"/>
      </li>
      <li>
        <input type="text" class="form-control" placeholder="Wrong Answer" [(ngModel)]="quizObject.wanswer1"/>
      </li>
      <li>
        <input type="text" class="form-control" placeholder="Wrong Answer" [(ngModel)]="quizObject.wanswer2"/>
      </li>
      <li>
        <input type="text" class="form-control" placeholder="Wrong Answer" [(ngModel)]="quizObject.wanswer3"/>
      </li>
    </ul>
  </div>
</div>
