<div class="modal-login">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Sign in to your account</h4>
    </div>
    <!-- Modal Body here -->
    <div class="modal-body">
      <ul>
        <li>
          <span>Username</span>
        </li>
        <li>
          <input type="text" name="username" [(ngModel)]="username">
        </li>
        <li>
          <span>Password</span>
        </li>
        <li>
          <input type="password" name="password" [(ngModel)]="password">
        </li>
        <li><a>Forgot username</a></li>
        <li><a>Forgot password</a></li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loginAccount()">Log in</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
