<h3 *ngIf="isFromTest">Question #{{index}}</h3> 
<div>
    <input type = "text" placeholder = "Question text..." name = "QuestionText"> 
    <!-- <h3>questionTopic = {{topic}}</h3> -->
    <table>
        <tr>
            <th>Answers</th><th>Correct?</th>
        </tr>
        <tr>
            <td>
                <input type = "Text" name = "answer1text" placeholder = "Answer 1 text...">
            </td>
            <td>
                <input type = "radio" name = "isCorrect{{index}}" id = "1">
            </td>
        </tr>
        <tr>
            <td>
                <input type = "Text" name = "answer2text" placeholder = "Answer 2 text...">
            </td>
            <td>
                <input type = "radio" name = "isCorrect{{index}}" id = "2">
            </td>
        </tr>
        <tr>
            <td>
                <input type = "Text" name = "answer3text" placeholder = "Answer 3 text...">
            </td>
            <td>
                <input type = "radio" name = "isCorrect{{index}}" id = "3">
            </td>
        </tr>
        <tr>
            <td>
                <input type = "Text" name = "answer4text" placeholder = "Answer 4 text...">
            </td>
            <td>
                <input type = "radio" name = "isCorrect{{index}}" id = "4">
            </td>
        </tr>

    </table>
</div>