<h2>{{quiz?.testTitle}}</h2>
<h4>By: {{quiz?.creatorId}}</h4>
<div class="container">
  <button class="btn btn-default" (click)="goBack()">Go Back</button>

  <div class="quiz-section">
    <form>

      <div class="no-comments" *ngIf="!quiz?.questions">
        No questions to display
      </div>

      <div *ngIf="quiz?.questions">
        <ul id="questions" class="questions">
          <li class="question" *ngFor="let question of quiz?.questions; let i = index">
            <div id="question-header">
              {{i+1}}. {{ question.questionText }}
            </div>
            <div class="options" *ngFor="let option of question.options; let j = index">
              <input type="radio" (change)="onSelection(option, i)" name="option{{i}}" [value]="option">
              <div [ngStyle]="{'background-color':takenStatus && option === question.answer? 'lightgreen' : takenStatus && option === selectedEntries[i] ? 'pink' : 'white'}">{{ option }}</div>
              <br>
            </div>
            <hr>

            <div class="rating">
              <span class="rating-select">
                <i (click)="upEasy(i)" class="em em-birthday"></i>
              </span> Easy: {{question.rating?.easy}}
              <span class="rating-select">
                <i (click)="upHard(i)" class="em em-smiling_imp"></i>
              </span> Hard: {{question.rating?.hard}}
              <span class="rating-select">
                <i (click)="upLike(i)" class="em em---1"></i>
              </span> Like {{question.rating?.like}}
              <span class="rating-select">
                <i (click)="upDislike(i)" class="em em--1"></i>
              </span> Dislike {{question.rating?.dislike}}
            </div>

          </li>
        </ul>
      </div>

      <div class="submit-quiz">
        <button id="submit-quiz-btn" class="btn btn-success btn-lg" (click)="submitQuiz()">Submit Quiz</button>
      </div>
    </form>
  </div>


  <div *ngIf="takenStatus" class="comments-section">
    <label id="comments-label">Comments</label>
    <div class="no-comments" *ngIf="quiz?.comments?.length <= 0">
      No comments yet!
    </div>

    <div *ngIf="quiz?.comments?.length > 0">
      <div *ngFor="let comment of quiz?.comments">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    <textarea class="add-comment" rows="5" cols="100" name="addComment" form="commentForm" [(ngModel)]="quizComment.content"></textarea>
    <br>
    <button class="btn btn-primary" style="float:right" (click)="submitComment()">Submit Comment</button>
  </div>
</div>
