<h2>{{quiz.testTitle}}</h2>
<h4>By: {{quiz.username}}</h4>
<div class="container">
  <button class="btn btn-default" (click)="goBack()">Go Back</button>


  <div class="quiz-section">
    <form>
      <ul id="questions" class="questions">
        <li class="question" *ngFor="let question of quiz.questions; let i = index">
          <div id="question-header">
            {{i+1}}. {{ question.question }}
          </div>
          <div class="options" *ngFor="let option of question.options; let j = index">
            <input type="radio" (change)= "onSelection(option, i)" name="option{{i}}" [value]="option" > {{ option }}
            <br>
          </div>
          <hr>
          <div class="rating">
            <span class="rating-select"><i (click)="upEasy(i)" class="em em-birthday"></i></span> Easy: {{question.rating.easy}}
            <span class="rating-select"><i (click)="upHard(i)" class="em em-smiling_imp"></i></span> Hard: {{question.rating.hard}}
              <span class="rating-select"><i (click)="upLike(i)" class="em em---1"></i></span> Like {{question.rating.like}}
                <span class="rating-select"> <i (click)="upDislike(i)" class="em em--1"></i></span> Dislike {{question.rating.dislike}}
          </div>
        </li>
      </ul>
      <div class="submit-quiz">
        <button id="submit-quiz-btn" class="btn btn-success btn-lg" (click)="submitQuiz()">Submit Quiz</button>
      </div>
    </form>
  </div>


  <div class="comments-section">
    <label id="comments-label">Comments</label>

    <ul id="comments" class="comments">
      <li class="comment" *ngFor="let comment of quiz.comments">
        <div>
          <strong>Comment ID:</strong> {{comment.commentId}}
        </div>
        <div>
          <strong>Username:</strong> {{comment.username}}
        </div>
        <div>
          <strong>Date:</strong> {{comment.createdDate | date}}
        </div>
        <strong> Comment: </strong>
        <div class="comment-content">
          {{comment.content}}
        </div>
      </li>
    </ul>
    <textarea class="add-comment" rows="5" cols="100" name="addComment" form="commentForm"></textarea>
    <br>
    <button class="btn btn-primary" style="float:right" (click)="submitComment()">Submit Comment</button>
  </div>
</div>
