.badge{
  font-size: 14px;
}

.topics {
  padding-top: 20px;
  list-style-type: none;
}

.topic {
  border: 1px solid rgb(51,102,187);
  margin: 5px 5px;
  padding: 10px;
}

.topic:hover{
  background-color: rgb(245, 245, 255);
}

li {
  text-align: left;
  font-size: 18px;
  line-height: 1.5em;
  float: left;
  display: inline;
  width: 25%;
}
