<h2>Manage Users</h2>

<div id="banuser" class="container col-sm-4">
    <div class="row">
            <input type=text [(ngModel)]="userIdentifier"/>
            <button type="button" class="btn-lg btn-danger">Ban user</button>
    </div>
   <div>{{Error}}</div>
</div>

<div id="promoteuser" class="container col-sm-4">
    <div>
        <ul>
            <li *ngFor="let user of newUsers">
                <app-promotee [promotee]="user"></app-promotee>
            </li>
        </ul>
        
    </div>
</div>
