<h3>{{topic.name}}</h3>
<div class="container">
  <button class="btn btn-default" (click)="goBack()">Go Back</button>
  <ul class="quizs">
    <li id="quizs" *ngFor="let quiz of quizs">
        <a routerLink="/quiz/{{quiz.id}}">
      <div id="quiz" class="quiz">
        <div class="quiz-name">
          {{quiz.name}}
        </div>
        <div class="creator">
          Creator ID: {{quiz.creatorId}}
        </div>
        <div class="total-attempt">
          Total Attempts: {{quiz.totalAttempts}}
        </div>
        <div class="description">
          {{quiz.description}}
        </div>
      </div>
      </a>
    </li>
  </ul>
</div>
